<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.linkedin.com/in/rohit-mahto1122/ "><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/Rohit-Codess"><i class="fa-brands fa-square-github" aria-label="github" ></i></a>
            <a href="#"><i class="fa-brands fa-square-x-twitter" aria-label="twitter"></i></a>
            <a href="#"><i class="fa-brands fa-square-instagram" aria-label="instagram"></i></a>
        </div>
        <div class="f-info-brand">&copy; Travel : Beyond Borders</div>
        <div class="f-info-links">
            <a href="#">Privacy</a>
            <a href="#">Terms</a>
        </div>
    </div>
</footer>