/* For Navbar.ejs Page */
@media (max-width: 600px) {
  .navbar-brand span,
  i {
    font-size: 1.3rem !important;
  }
}

/* For Main.ejs Page */
@media (max-width: 1200px) {
  h1.display-3 {
    font-size: 3rem !important;
  }

  .explore-btn {
    font-size: 1.2rem !important;
    padding: 0.7rem 1.2rem !important;
  }
}

@media (max-width: 1000px) {
  .hero-section {
    background-image: url("/image/mobile-bg.jpeg") !important;
    height: 50vh !important;
  }
  .overlay {
    height: 50vh !important;
  }
  h1.display-3 {
    font-size: 2.5rem !important;
  }

  p.lead {
    font-size: 1rem !important;
  }

  .explore-btn {
    font-size: 1rem !important;
    padding: 0.5rem 1rem !important;
  }
}

@media (max-width: 720px) {
  .animate__animated {
    animation: none !important;
  }

  h1.display-3 {
    font-size: 2rem !important;
  }

  p.lead {
    font-size: 1rem !important;
  }

  .explore-btn {
    font-size: 1rem !important;
    padding: 0.3rem 0.8rem !important;
  }
}

/* For Index.ejs Page */
@media (max-width: 1200px) {
  .index-heading {
    font-size: 2.2rem !important;
    margin-bottom: 1.5rem !important;
  }

  /* .listing-card img{
    height: 360px !important;
  } */

  .badge {
    font-size: 0.7rem !important;
  }

  .user-name {
    font-size: 1.1rem !important;
  }

  .listing-title {
    font-size: 0.9rem !important;
  }
}

@media (max-width: 1000px) {
  .index-heading {
    font-size: 1.8rem !important;
  }

  /* .listing-card img{
    height: 340px !important;
  } */

  .badge {
    font-size: 0.55rem !important;
  }

  .user-name {
    font-size: 0.9rem !important;
  }

  .listing-title {
    font-size: 0.7rem !important;
  }
}

@media (max-width: 720px) {
  .index-heading {
    font-size: 1.6rem !important;
  }

  .listing-card img{
    height: 300px !important;
  }
}

@media (max-width: 500px) {
  .index-heading {
    font-size: 1.6rem !important;
  }

  .listing-card img{
    height: 230px !important;
  }
}