@media (max-width: 1200px) {
  .index-heading {
    font-size: 2.2rem !important;
    margin-bottom: 1.5rem !important;
  }

  .badge {
    font-size: 0.7rem !important;
  }

  .user-name {
    font-size: 1.1rem !important;
  }

  .listing-title {
    font-size: 0.9rem !important;
  }
}
@media (max-width: 1000px) {
  .index-heading {
    font-size: 1.8rem !important;
  }

  .badge {
    font-size: 0.55rem !important;
  }

  .user-name {
    font-size: 0.9rem !important;
  }

  .listing-title {
    font-size: 0.7rem !important;
  }
}
@media (max-width: 800px) {
  .index-heading {
    font-size: 1.6rem !important;
  }

  .listing-card img {
    height: 250px !important;
  }
}
