<% layout("/layouts/boilerplate") %>

<div class="container py-5">
  <h2 class="text-center text-success mb-4">Reset Your Password</h2>

  <form method="POST" action="/users/reset-password/<%= token %>">
    <div class="mb-3">
      <label for="password" class="form-label fw-semibold"
        >Password</label
      >
      <div class="input-group">
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          required
          minlength="8"
        />
        <button
          type="button"
          class="btn bg-light toggle-password"
          data-target="password"
        >
          <i class="fa-solid fa-eye"></i>
        </button>
      </div>
      <div id="passwordStrength" class="form-text"></div>
      <div class="invalid-feedback">
        Password must contain uppercase, lowercase, number, symbol, 8+
        letters.
      </div>
    </div>

    <div class="mb-3">
      <label for="confirmPassword" class="form-label fw-semibold"
        >Confirm Password</label
      >
      <div class="input-group">
        <input
          type="password"
          class="form-control"
          id="confirmPassword"
          name="confirmPassword"
          required
        />
        <button
          type="button"
          class="btn bg-light toggle-password"
          data-target="confirmPassword"
        >
          <i class="fa-solid fa-eye"></i>
        </button>
      </div>
      <div id="confirmPasswordMessage" class="form-text mt-1"></div>
      <div class="invalid-feedback">Passwords must match.</div>
    </div>

    <!-- <div class="mb-3">
      <label for="password" class="form-label fw-bold">New Password</label>
      <input type="password" class="form-control" id="password" name="password" required minlength="8" />
    </div>
    <div class="mb-3">
      <label for="confirmPassword" class="form-label fw-bold">Confirm New Password</label>
      <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required minlength="8" />
    </div> -->
    <button type="submit" class="btn btn-success w-100">Update Password</button>
  </form>
</div>
